
<table>
  <tbody>
    <tr>
      <td style="text-align: center; border-bottom:0px">&nbsp;</td>
    </tr>
    <tr>
      <td style="text-align: left; border-bottom:0px; padding-top: 1px;  padding-bottom: 0px;">
	    <a href="https://www.vertica.com" target="_blank" >
	      <img src="/assets/img/banner_vertica.png" style="width: 150px; height: auto;" alt="vertica사이트" />
		</a>
	  </td>
    </tr>
    <tr>
      <td style="text-align: left; border-bottom:0px; padding-top: 1px;  padding-bottom: 0px;">
	    <a href="http://www.gtgsc.com" target="_blank" >
		  <img src="/assets/img/banner_gtg.jpg" style="width: auto; height: auto;" alt="GTG" />
		</a>
	  </td>
    </tr>
    <tr>
      <td style="text-align: left; border-bottom:0px; padding-top: 1px;  padding-bottom: 0px;">
	    <a href="https://www.microfocus.com/ko-kr/" target="_blank">
		  <img src="/assets/img/banner_micro_focus.png" style="width: 150px; height: auto;" alt="microfocus korea" />
		</a>
	  </td>
    </tr>
<!--
    <tr>
      <td style="text-align: left; border-bottom:0px; padding-top: 1px;  padding-bottom: 0px;">
	    <a href="http://www.allshowtv.com/detail.html?idx=165" target="_blank">
		  <img src="/assets/img/pure_event.png" style="width: auto; height: auto;" alt="event" />
		</a>
	  </td>
    </tr>
    <tr>
      <td style="text-align: left; border-bottom:0px; padding-top: 1px;  padding-bottom: 0px;">&nbsp;</td>
    </tr>
    <tr>
      <td style="text-align: left; border-bottom:0px; padding-top: 1px;  padding-bottom: 0px;">&nbsp;</td>
    </tr>
    <tr>
      <td style="text-align: left; border-bottom:0px; padding-top: 1px;  padding-bottom: 0px;">&nbsp;</td>
    </tr>
    <tr>
      <td style="text-align: left; border-bottom:0px; padding-top: 1px;  padding-bottom: 0px;">&nbsp;</td>
    </tr>
    <tr>
      <td style="text-align: left; border-bottom:0px; padding-top: 1px;  padding-bottom: 0px;">&nbsp;</td>
    </tr>
    <tr>
      <td style="text-align: left; border-bottom:0px; padding-top: 1px;  padding-bottom: 0px;">&nbsp;</td>
    </tr>
-->
<!--	
    <tr>
      <td style="text-align: center; ">&nbsp;
	  </td>
    </tr>
-->
  </tbody>
</table>