<!--
  <li>
    <a href="http://link-to-whatever-social-network.com/user/" itemprop="sameAs" rel="nofollow noopener noreferrer">
      <i class="fas fa-fw" aria-hidden="true"></i> Custom Social Profile Link
    </a>
  </li>
-->
<li>&nbsp;</li>
  <li>
    <a href="https://www.vertica.com" target="_blank">
      <img src="/assets/img/banner_vertica.png" style="width: 120px; height: auto;" alt="vertica사이트" />
    </a>
  </li>
<!--
  <li>
    <a href="https://www.microfocus.com/ko-kr/home" target="_blank">
      <img src="/assets/img/banner_micro_focus.jpg" style="width: 120px; height: auto;" alt="MF" />
    </a>
  </li>
-->
  <li>
    <a href="http://www.gtgsc.com" target="_blank">
      <img src="/assets/img/banner_gtg.png" style="width: 120px; height: auto;" alt="GTG" />
    </a>
  </li>

